<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html > body {
            font-family: "GmarketSansMedium";
            text-underline-position: under;
        }
    </style>
</head>

<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css">

<header>
    <div class="container">
        <a href="/">메인</a>
        <a href="/about">어바웃</a>
        <a href="/member/login" sec:authorize="isAnonymous()">로그인</a>
        <a href="/member/join" sec:authorize="isAnonymous()">회원가입</a>
        <a href="/member/logout" sec:authorize="isAuthenticated()">로그아웃</a>
        <a href="/member/profile" sec:authorize="isAuthenticated()">프로파일</a>
    </div>

    <hr>

    <div class="container">
        <header sec:authorize="isAuthenticated()" class="flex items-center gap-2">
            <img class="w-10 h-10 object-cover rounded"
                 th:src="@{|/member/profile/img/${#authentication.principal.id}|}" alt="">

            <div th:text="|${#authentication.principal.username}님 환영합니다.|"></div>
        </header>
    </div>
</header>

<hr>

<section layout:fragment="content">
    <div>내용</div>
</section>

<footer>

</footer>

</body>

</html>