<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>프로파일</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>프로파일</h1>

        <style>
            .profile-img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 10px;
            }
        </style>

        <img class="profile-img" th:src="@{${memberContext.profileImgUrl}}">
        <div>아이디 : <span th:text="${memberContext.username}"></span></div>
        <div>이메일 : <span th:text="${memberContext.email}"></span></div>
    </div>

</section>
</body>
</html>