<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>파일 업로드 테스트</h1>

<!--폼으로 파일 업로드시 필수 method="post" enctype="multipart/form-data"-->
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <div>
        <span>파일 1</span>
        <input type="file" name="img1" accept="image/png, image/gif, image/jpeg">
    </div>
    <div>
        <span>파일 2</span>
        <input type="file" name="img2" accept="image/png, image/gif, image/jpeg">
    </div>
    <span>업로드</span>
    <input type="submit" value="전송">
</form>
</body>
</html>